h2 {
  font-weight: 900;
  font-family: open-sans-bold;
  font-size: 3.5rem;
}

p {
  font-size: 1rem;
  line-height: 40px;
}

/* HERO */

.hero {
  width: 93%;
  min-height: 90vh;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../..//images/sma22.jpeg);
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 100px auto;
  border-radius: 10px;
  transition: 0.4s;
}

.textbox {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.textbox h2 {
  font-family: madetommy;
}

/* AKHIR HERO */

/* TENTANG */

.tentang {
  width: 100%;
  padding: 20px 20px 40px 20px;
  background-color: #e8dfdf;
}

.container-tentang {
  width: 93%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col {
  flex-wrap: wrap;
}

.row .gambar1 {
  background: url(../../images/sekbid5.JPG);
  background-size: cover;
  background-position: 20% 80%;
  width: calc(100vw / 1.7);
  height: 400px;
  border-radius: 20px;
}

.row button {
  margin: 10px 0;
  text-align: center;
  padding: 15px 30px;
  border: none;
  outline: none;
  background-color: #1a2c1d;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 1px black;
  transition: 0.4s;
  font-family: open-sans-bold;
  text-transform: uppercase;
}

.row button:hover {
  box-shadow: 0 0 0;
}

/* AKHIR TENTANG */
/* Sambutan */
.sambutan {
  background: #fff;
  height: 100%;
  padding: 20px;
}

.sambutan .ketua {
  background: url(../../images/ketua.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  height: 500px;
  flex-basis: 50%;
}

.sambutan .text {
  flex-basis: 50%;
}

.sambutan .row {
  align-items: center;
}
/* Akhir Sambutan */

/* Aspirasi */

.aspirasi {
  background-color: #25412a;
  width: 100%;
  max-height: 100%;
  padding: 20px;
}

.aspirasi .gambar {
  margin: 10px;
  background: url(../../images/aspirasi.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 500px;
  height: 400px;
}

.aspirasi .row {
  align-items: center;
  margin: 0 auto;
}

.aspirasi .row h3 {
  font-size: 4rem;
  color: #fff;
}

.aspirasi .row b {
  color: yellowgreen;
}

.aspirasi .aspirasi-btn {
  background-color: #fff;
  color: black;
  border-radius: 30px;
}

.col-1 {
  flex-basis: 50%;
}

/* Akhir Aspirasi */

/* Responsive */
@media (max-width: 1024px) {
  .aspirasi .row {
    flex-direction: column;
  }
  .row {
    flex-direction: column-reverse;
    text-align: center;
  }
  .row .gambar1 {
    width: 100%;
  }
  .hero {
    width: 90%;
    min-height: 80vh;
  }
  .tentang h2 {
    text-align: center;
  }
  .sambutan .ketua {
    width: 400px;
    height: 400px;
  }
  .textbox h2 {
    font-size: 2.3rem;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
  .aspirasi .gambar {
    width: 350px;
    height: 350px;
  }
  .aspirasi .row h3 {
    font-size: 2.5rem;
  }
  .textbox h2 {
    font-size: 1.8rem;
  }
  .textbox p {
    font-size: 0.7rem;
  }
  .hero {
    min-height: 50vh;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(../..//images/sma22.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 90px auto 0;
    border-radius: 10px;
    transition: 0.4s;
  }
  .row .gambar1 {
    background: url(../../images/sekbid5.JPG);
    background-size: cover;
    background-position: 20% 80%;
    width: 100%;
    height: 200px;
    border-radius: 20px;
  }
  .row .gambar-1 {
    margin: 0 auto;
    width: 85%;
  }
}
